@tailwind base;

.btn {
  @apply text-white px-12 py-4 ml-4 bg-primary-Default sm:rounded-xl transition-colors duration-300 hover:bg-primary-Hover;
}

@tailwind components;
@tailwind utilities;

body {
  background-color: #f8f9fa;
  font-family: 'Lato', sans-serif;
}

h1 {
  font-weight: bold;
  font-size: 56px;
  line-height: 60px;
  letter-spacing: 0.4px;
}

h2 {
  font-weight: bold;
  font-size: 40px;
  line-height: 46px;
  letter-spacing: 0.2px;
}

h3 {
  font-weight: bold;
  font-size: 28px;
  line-height: 34px;
  letter-spacing: 0.2px;
}

h4 {
  font-weight: bold;
  font-size: 26px;
  line-height: 34px;
  letter-spacing: 0.4px;
}

h5 {
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 0.2px;
}

h6 {
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.1px;
}

.subtitle1 {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
}

.subtitle2 {
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.1px;
}

.body1 {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
}

.body2 {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.1px;
}

.small1 {
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 0.1px;
}

.small2 {
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.1px;
}

.small3 {
  font-weight: bold;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.2px;
}

.button {
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.2px;
}

.initials {
  font-weight: 900;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 1px;
}

.sideBarShadow {
  box-shadow: 4px 0px 16px rgba(16, 30, 115, 0.08);
}

.bg-banner {
  background-image: url('/images/homeBanner.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.hostelPanel::-webkit-scrollbar {
  visibility: hidden;
}

@media only screen and (max-width: 640px) {
  h1 {
    font-size: 44px;
    line-height: 60px;
  }

  h2 {
    font-weight: bold;
    font-size: 32px;
    line-height: 46px;
    letter-spacing: 0.2px;
  }

  h3{
    font-weight: bold;
    font-size: 16px;
    line-height: 34px;
    letter-spacing: 0.2px;
  }

  h4 {
    font-size: 20px;
    line-height: 34px;
  }

  h5 {
    font-weight: bold;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.2px;
  }

  h6 {
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 0.1px;
  }

}
